{% load django_bootstrap5 %}
{% load i18n %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="{% url 'homepage' %}">{% translate "Task manager" %}</a>
    <div id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users_index' %}">{% translate "Users" %}</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'statuses_index' %}">{% translate "Statuses" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">{% translate "Labels" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">{% translate "Tasks" %}</a>
            </li>
            <li class="nav-item">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    {% translate "Logout" as action %}
                    {% bootstrap_button action button_type="submit" button_class="nav-link" %}
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">{% translate "Enterance" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_user' %}">{% translate "Registration" %}</a>
            </li>
            {% endif %}
            </ul>
        </ul>
    </div>
</nav>