{% extends "index.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
    <h2 class="text-center display-5">{% translate "Enterance" %}</h2>
    <hr>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% translate "Login" as action %}
        {% bootstrap_button action button_type="submit" button_class="btn btn-primary my-3" %}
        <a class="m-3" href="{% url 'create_user' %}">{% translate "No account?" %}</a>
    </form>
    
{% endblock %}