{% extends "layouts/frame.html" %}
{% load i18n %}

{% block content %}
<main>
    <div class="container wrapper flex-grow-1">
        <h2 class="text-center my-4">{% translate "Tasks" %}</h2>
        <a class="btn btn-primary mb-3" href="{% url 'create_task' %}">{% translate 'Create task' %}</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% translate "ID" %}</th>
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Status" %}</th>
                    <th>{% translate "Author" %}</th>
                    <th>{% translate "Performer" %}</th>
                    <th>{% translate "Created at" %}</th>
                    <th>{% translate "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for task in object_list %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.author }}</td>
                    <td>{{ task.performer }}</td>
                    <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                    <td>
                        <a href="{% url 'update_task' task.id %}">{% translate "Update" %}</a><br>
                        <a href="{% url 'delete_task' task.id %}">{% translate "Delete" %}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}